
.DS_Store
*.swp
*.o
*.so
*.state
erl_crash.dump

test_launch.config
apps/ecoinpool/priv/server_id.txt

.eunit
deps/
ebin/
scrapped/
storage/

.sass-cache
site/build
site/*.json
site/compiler.jar

rel/ecoinpool*/
