
%%
%% Copyright (C) 2011  Patrick "p2k" Schneider <patrick.p2k.schneider@gmail.com>
%%
%% This file is part of ecoinpool.
%%
%% ecoinpool is free software: you can redistribute it and/or modify
%% it under the terms of the GNU General Public License as published by
%% the Free Software Foundation, either version 3 of the License, or
%% (at your option) any later version.
%%
%% ecoinpool is distributed in the hope that it will be useful,
%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%% GNU General Public License for more details.
%%
%% You should have received a copy of the GNU General Public License
%% along with ecoinpool.  If not, see <http://www.gnu.org/licenses/>.
%%

{lib_dirs, ["deps"]}.

{sub_dirs, ["apps/ecoinpool", "apps/ebitcoin", "rel"]}.

{deps, [
    {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", "e0f5f6ea4c3dcb4e7b824496d2b48333fbd5a8c8"}},
    {ejson, ".*", {git, "git://github.com/benoitc/ejson.git", "820ff1725008e664293b88e13c16193857afc072"}},
    {oauth, ".*", {git, "git://github.com/refuge/erlang-oauth.git", "f332b77371d334d0faa13e106d0c36f948b325b6"}},
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "eb8b62cf84ccae141700c8fd251277df8be27f28"}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "b7f3693a9008de6d31a67174f7184fe24093a1b4"}},
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", "7148bbdb19aca91b7b74e5392a23c94d33ca4e27"}},
    {log4erl, ".*", {git, "git://github.com/SemanticSugar/log4erl.git", "ec580f75ef9e28dfcfac92dc0d42c435520bd3d7"}},
    {mysql, ".*", {git, "git://github.com/elbrujohalcon/erlang-mysql-driver.git", "1dd4e22a80546fa1bda81607d6397a549fd791ae"}},
    {epgsql, ".*", {git, "git://github.com/wg/epgsql.git", "fc434772276475ac4e5b0bed6b18ed4732502156"}}
]}.

{erl_opts, [fail_on_warning, debug_info, warn_unused_vars, warn_unused_import, warn_exported_vars]}.

{xref_checks, [undefined_function_calls]}.
