
%%
%% Copyright (C) 2011  Patrick "p2k" Schneider <patrick.p2k.schneider@gmail.com>
%%
%% This file is part of ecoinpool.
%%
%% ecoinpool is free software: you can redistribute it and/or modify
%% it under the terms of the GNU General Public License as published by
%% the Free Software Foundation, either version 3 of the License, or
%% (at your option) any later version.
%%
%% ecoinpool is distributed in the hope that it will be useful,
%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%% GNU General Public License for more details.
%%
%% You should have received a copy of the GNU General Public License
%% along with ecoinpool.  If not, see <http://www.gnu.org/licenses/>.
%%

{lib_dirs, ["deps"]}.

{sub_dirs, ["apps/ecoinpool", "apps/ebitcoin", "rel"]}.

{deps, [
    %%{piqi, ".*", {git, "git://github.com/alavrik/piqi-erlang.git", "dev"}},
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", "master"}},
    {log4erl, ".*", {git, "git://github.com/SemanticSugar/log4erl.git", "master"}}
]}.

{erl_opts, [fail_on_warning, debug_info, warn_unused_vars, warn_unused_import, warn_exported_vars]}.

{xref_checks, [undefined_function_calls]}.
