
% This is an example configuration file. Lists are denoted with [...] and tuples
% are denoted with {...}. Together they form a nested structure of names and
% parameters. If you make changes and add or remove options, make sure not to
% have a comma before a closing bracket or curly brace.

[
    % SASL is Erlang's internal error and crash logger; it also logs starting
    % and stopping of certain processes. I set it to "error" here so it won't
    % pollute stdout/stderr.
    {sasl, [
        {errlog_type, error}
    ]},
    
    % This is ecoinpool's main configuration. The CouchDB connection is
    % configured here.
    {ecoinpool, [
        % The following commented lines are default settings.
        %{db_host, "localhost"},
        %{db_port, 5984},
        %{db_prefix, ""},
        
        % The next line should be changed, depending on your CouchDB
        % authentication settings:   username      password
        {db_options, [{basic_auth, {"ecoinpool", "localtest"}}]}
    ]},
    
    % This is the ebitcoin configuration. ebitcoin forms a separate application,
    % thus it doesn't share ecoinpool's database settings. If you use the same
    % CouchDB server and authentication, copy it from above.
    {ebitcoin, [
        % You can also disable ebitcoin altogether by uncommenting the following
        % line. Note that you will fall back to the polling system then.
        %{enabled, false},
        
        %{db_host, "localhost"},
        %{db_port, 5984},
        %{db_prefix, ""},
        {db_options, [{basic_auth, {"ecoinpool", "localtest"}}]}
    ]},
    
    % The third separate application (it also has to be started separately) is
    % the MySQL Replicator. It is used to bridge legacy MySQL worker tables to
    % CouchDB and also stores copies of the shares into a MySQL table.
    {ecoinpool_mysql_replicator, [
        %{couchdb_host, "localhost"},
        %{couchdb_port, 5984},
        %{couchdb_prefix, ""},
        {couchdb_options, [{basic_auth, {"ecoinpool", "localtest"}}]},
        %{couchdb_database, "ecoinpool"},
        
        %{mysql_host, "localhost"},
        %{mysql_port, 3306},
        %{mysql_prefix, ""},
        {mysql_options, [{auth, {"ecoinpool", "localtest"}}]},
        %{mysql_database, "ecoinpool"},
        
        % This is a setting that certainly has to be changed. Configure one or
        % more worker table replicators here (if you have multiple sub-pools).
        % Please only connect one sub-pool to one table or things get jammed up.
        {replicator_configs, [
            % Format: {<ecoinpool sub-pool ID>, <MySQL worker table>, <MySQL sync interval in seconds, 1 or more>}
            {"24aa68ec6c910de0850ed0c575621ec9", "pool_worker", 15}
        ]},
        
        % And the last one, also to be likely changed, is the shares deployer
        % configuration. There are two possible formats here, one with and one
        % without using merged mining. The config ID is used as filename for
        % saving the deployment state; it can be a path. A .state extension is
        % added automatically.
        {share_deployer_configs, [
            % Non-MM Format: {<config ID string>, <pool name>, <MySQL shares table>, <MySQL write interval in seconds, 0 allowed>}
            % MM Format: {<config ID string>, <main pool name>, <aux pool name>, <MySQL shares table>, <MySQL write interval in seconds, 0 allowed>}
            {"btc_nmc_test_shares", "btc-test", "nmc-test", "shares", 60}
        ]}
    ]}
].
