
[
    {sasl, [
        {errlog_type, error}
    ]},
    {ebitcoin, [
        {db_options, [{basic_auth, {"ecoinpool", "localtest"}}]}
    ]},
    {ecoinpool, [
        {db_options, [{basic_auth, {"ecoinpool", "localtest"}}]}
    ]},
    {ecoinpool_mysql_replicator, [
        {couchdb_options, [{basic_auth, {"ecoinpool", "localtest"}}]},
        {mysql_options, [{auth, {"ecoinpool", "localtest"}}]},
        {replicator_configs, [
            {"24aa68ec6c910de0850ed0c575621ec9", "pool_worker", 30}
        ]}
    ]}
].
